table-container {
    max-width: 750px;
}

table {
    width: 100%;
    border: 1px solid #ccc;
}

table thead th {
    text-align: left;
    border: 1px solid #ccc;
}

table tbody td {
    border: 1px solid #ccc;
}

table tbody td:first-child {
    width: 50px;
}

.pagination-buttons {
    margin-top: 15px;
    text-align: right;
}

.pagination-buttons button {
    margin: 0 5px;
}

.pagination-buttons button:last-child {
    margin-right: 0;
}